<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Signin Template for Bootstrap</title>
</head>
        <body class="text-center">
          <input type="text" th:value="${msg.id}">
          <input type="text" th:value="${msg.department}">
          <input type="text" th:value="${msg.ipAddress}">
          <input type="text" th:value="${msg.totalLoginNum}">
          <input type="text" th:value="${msg.name}">
          <input type="text" th:value="${msg.loginTime}">
          <input type="text" th:value="${msg.number}">
        </body>

</html>